<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <label>Bosch GSB 500 RE Kit Power & Hand Tool Kit</label>
        </div>
        <div class="panel-body">
            <div class="productImages">
                <img src="css/images/1.jpeg" class="productImage"/>
            </div>
            <br>
            Rating: <div star-rating rating-value="3" max="5" on-rating-selected="getSelectedRating(rating)"></div> <br>
            <div>Available @ <img src="css/images/flipkart.jpg"/><img src="css/images/amazon.jpg"/></div>
            <br>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading green">
                        <h4 class="panel-title">
                            Offers On this Product
                        </h4>
                    </div>
                    <div class="panel-body">
                        <h5> 18 Months Extended Warrenty</h5>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading yellow">
                        <h4 class="panel-title">
                            Seller Information
                        </h4>
                    </div>
                    <div class="panel-body">
                        WS Retail
                        30 Days replacement guarantee
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Product Info
                        </h4>
                    </div>
                    <div class="panel-body">
                        Coming Soon
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <h4 class="panel-title">
                            Specifications
                        </h4>
                    </div>
                    <div class="panel-body">
                        <li>Light Weight</li>
                        <li>Easy Drilling</li>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            User Reviews
                        </h4>
                    </div>
                    <div class="panel-body">
                        Coming Soon
                    </div>

                </div>
             </div>
        </div>
    </div>
</div>
