<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <label>Bosch GSB 500 RE Kit Power & Hand Tool Kit</label>
        </div>
        <div class="panel-body">
            <div class="productImages">
                <img src="http://img5a.flixcart.com/image/power-hand-tool-kit/v/v/g/gsb-500-re-kit-bosch-400x400-imae5kxnbae2mvjy.jpeg" class="productImage">
            </div>
            <br>
            Rating: <div star-rating rating-value="3" max="5" on-rating-selected="getSelectedRating(rating)"></div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <h4 class="panel-title">
                            Offers On this Product
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h5> NO OFFERS Available</h5>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <h4 class="panel-title">
                            Seller Information
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <label>I am the seller</label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <h4 class="panel-title">
                            Product Info
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <label>Coming Soon</label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <h4 class="panel-title">
                            Specifications
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <label>Coming Soon</label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        <h4 class="panel-title">
                            User Reviews
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <label>Coming Soon</label>
                        </div>
                    </div>
                </div>
             </div>
           <!-- <div star-rating ng-model="rating1" max="10" on-rating-selected="rateFunction(rating)"></div>
            <star-rating ng-model="rating2" readonly="isReadonly"></star-rating>-->
        </div>
    </div>
</div>
<!--
<div class="footer"></div>-->
